runpod==1.9.1
requests==2.32.3

numpy==1.24.4
scipy==1.10.1
scikit-image==0.21.0
opencv-python-headless==4.7.0.72
Pillow==9.4.0
matplotlib==3.7.4
tqdm==4.64.1

diffusers==0.25.1
transformers==4.41.1
huggingface_hub==0.25.2
accelerate==0.31.0
peft==0.11.1
einops==0.7.0
safetensors==0.4.3
tokenizers==0.19.1

onnxruntime-gpu==1.16.2

omegaconf==2.3.0
cloudpickle==3.0.0
pycocotools==2.0.7
fvcore==0.1.5.post20221221
iopath==0.1.10
yacs==0.1.8

basicsr==1.4.2
av==12.3.0

cloudinary==1.40.0

protobuf<5 